__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
lib/
*.egg-info/

downloaded_files/
*.json
!.alloy/environment.json

.idea/
.vscode/
.env
*.db
*.db-shm
*.db-wal
node_modules/
.expo/
logs/
analysis_report/
upwork_analysis/scrape_data.py
upwork_analysis/analyze_data.py
